/* 자동완성시 css 변경하는 코드 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px rgb(240, 90, 90) inset !important;
  -webkit-text-fill-color: black !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input * {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "VT323", monospace;
}

input::placeholder {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

/* darkmode */

.dark {
  background-color: #202123;
  color:#fff !important;
}

.darkBtn {
  position:fixed;
  right:0%;
}

.darkBtn button {
  background-color: #333; /* Dark Mode 버튼 배경색을 설정하세요. */
  color: #fff; /* Dark Mode 버튼 텍스트 색상을 설정하세요. */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  width: 100%;
  height:1050px;
  position:absolute;
}

.logo {
  width: 350px;
  margin: 0 auto;
  margin-top: 150px;
}

.logo img {
  width: 350px;
}

.menu {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.menu-link {
  text-decoration: none;
  color: #000;
  font-size: 40px;
  margin: 0 20px;
}

/* Login */

/* .Login_Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
} */

.Login_Wrap h2 {
  font-size: 50px;
}

.Login_Wrap .Login {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin-top: 250px; */
  /* border: 1px solid gray; */
}

.Login input {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "VT323", monospace;
  font-size: 20px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 5px;
  background-color: rgb(240, 90, 90);
}

.Login button {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "VT323", monospace;
  font-size: 20px;
  background-color: rgb(99, 226, 109);
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* HomeButton */

.HomeButton img {
  position: fixed;
  top: 15px;
  /* width: 100% */
  left: 15px;
  width: 50px;
  cursor: pointer;
}

/* Signup */

.Signup {
  display: flex;
  justify-content: center;
}

.CheckButton {
  height: 50px;
  margin-top: 156px;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "VT323", monospace;
  font-size: 20px;
  background-color: rgb(80, 238, 94);
  color: white;
  padding: 10px;
  margin-left: 5px;
  width: 90px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.impormation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.impormation > div {
  text-align: right;
}

.impormation input {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "VT323", monospace;
  font-size: 20px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 5px;
  background-color: rgb(240, 90, 90);
  &::placeholder {
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
}

.impormation button {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "VT323", monospace;
  font-size: 20px;
  background-color: rgb(80, 238, 94);
  color: white;
  padding: 10px;
  margin-left: 5px;
  width: 80px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.MyPage {
  display: flex;
  justify-content: center;
}

/* Nav */

.Nav {
  border:1px solid red;
  width: 100%;
  padding: 15px 0px;
  margin-right: 50px;
  text-align: right;
}

.Nav .navMenu {
  margin: 20px;
  text-decoration: none;
  font-size: 25px;
}

.myPageLogo img {
  text-align: center;
  height: 450px;
}


/* List */
.List {
  width:1024px;
  margin:0 auto;
  border:1px solid red;
}

.linkList {
  color:#000;
  text-decoration:none;
  font-weight:lighter;
  list-style:none;
  margin:10px 0;
  font-size:25px;
}


/* Challeges */

.ChallengesForm {
  margin:0 auto;
  margin-top:50px;
  width:70%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}



.ChallengesContent {
  display: flex;
  width: 100%;
  gap: 16px;
}

.ChallengesLeft {
  flex: 1;
}

.ChallengesRight {
  border-left:1px solid #d1d1d1;
  flex: 1;
  border-radius: 8px;
  padding: 16px;
}

/* 코드 입력 공간의 스타일 */
/* dark 모드일 때 배경색 설정 */
.CodeMirror {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* light 모드일 때 배경색 설정 */
.CodeMirror-light {
  background-color: #ffffff;
  color: #000000;
}
